body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

img,
svg {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .section-title {
    font-size: 26px;
    line-height: 1.2692307692;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .main-nav__list {
    display: none;
  }
}
.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link--active {
  color: #2196f3;
}
.main-nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}

.active:hover::after {
  opacity: 1;
}

.main-contact__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 21px 0;
  margin-left: auto;
  list-style: none;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .main-contact__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .main-contact__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 30px;
  }
}

.main-contact__link {
  display: flex;
  list-style: none;
  position: relative;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  line-height: 1.1428571429;
  align-items: center;
  transition: fill, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-contact__link:hover, .main-contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .main-contact__link {
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .main-contact__link {
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.1428571429;
  }
}
.main-contact__link-icon {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}

.main-contact__link-icon--size-envelope {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .main-contact__link-icon--size-envelope {
    width: 16px;
    height: 12px;
  }
}

.main-contact__link-icon--size-smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .main-contact__link-icon--size-smartphone {
    height: 16px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header .container {
    display: flex;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 48px 40px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-sizing: border-box;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: black;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}

.menu-container .burger-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
  fill: black;
}

.mobile-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  display: block;
  text-align: left;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__link--active {
  position: relative;
  color: #2196f3;
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #2196f3;
}

.contact-box {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.mobile-contact {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-contact__item:first-child {
  margin-bottom: 32px;
}
.mobile-contact__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
  display: block;
  text-decoration: none;
  color: #757575;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact__link:hover {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2196f3;
}

.mobile-networks {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-networks__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2196f3;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: #212121;
  list-style: none;
  text-decoration: none;
}

.web-logo {
  color: #2196f3;
}

.footer .logo {
  display: block;
  color: #ffffff;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  margin-bottom: 20px;
}

.section-banner {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/banner/Image-1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #212121;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/banner/Image-2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .section-banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/banner/Image-3x.jpg");
  }
}
@media screen and (min-width: 500px) {
  .section-banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/banner/Image-1x.jpg");
  }
}
@media screen and (min-width: 500px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (min-resolution: 192dpi), screen and (min-width: 500px) and (min-resolution: 2dppx) {
  .section-banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/banner/Image-2x.jpg");
  }
}
@media screen and (min-width: 500px) and (min-device-pixel-ratio: 3), screen and (min-width: 500px) and (min-resolution: 288dpi), screen and (min-width: 500px) and (min-resolution: 3dppx) {
  .section-banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/banner/Image-3x.jpg");
  }
}
@media screen and (min-width: 850px) {
  .section-banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/banner/Image-1x.jpg");
  }
}
@media screen and (min-width: 850px) and (min-device-pixel-ratio: 2), screen and (min-width: 850px) and (min-resolution: 192dpi), screen and (min-width: 850px) and (min-resolution: 2dppx) {
  .section-banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/banner/Image-2x.jpg");
  }
}
@media screen and (min-width: 850px) and (min-device-pixel-ratio: 3), screen and (min-width: 850px) and (min-resolution: 288dpi), screen and (min-width: 850px) and (min-resolution: 3dppx) {
  .section-banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/banner/Image-3x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section-banner {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.section-banner__title {
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .section-banner__title {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
  }
}
@media screen and (min-width: 1200px) {
  .section-banner__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
.section-banner__button {
  font-family: Roboto;
  background-color: #2196F3;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.875;
  line-height: 1.6;
  align-items: Center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  border-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .section-banner__button {
    padding: 10px 32px;
  }
}
.section-banner__button:hover,
.section-banner__button:focus {
  background-color: #188ce8;
}

.section-features__list {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
  gap: 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .section-features__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.section-features__item {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .section-features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.section-features__title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .section-features__title {
    text-align: left;
  }
}
.section-features__text {
  line-height: 1.7142857143;
  color: #757575;
  letter-spacing: 0.03em;
  margin: 0;
}

.section-features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-about {
  padding-top: 0px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-about {
    display: none;
  }
}
.section-about__list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
}

.about-container {
  position: relative;
}

.about-foto {
  display: block;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 22px 0;
  margin: 0;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 0.8;
}

.section-team {
  background-color: #f5f4fa;
}

.section-team__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .section-team__list {
    flex-direction: row;
  }
}

.section-team__item {
  background: #ffffff;
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .section-team__item {
    flex: basis 100%;
  }
}
@media screen and (min-width: 768px) {
  .section-team__item {
    flex: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-team__item {
    flex: calc((100% - 90px) / 4);
  }
}

.worker__image {
  width: 100%;
  height: auto;
}

.worker__data {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
}

.worker__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.worker__position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #757575;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 92px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  transform: translateY(3px);
}

.client {
  width: 106px;
  height: 60px;
}

.social-networks {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.social-networks__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: #ffffff;
  color: #ffffff;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
  transform: translateY(3px);
}

.social {
  width: 20px;
  height: 20px;
}

.is-hidden {
  visibility: hidden;
  scale: 0;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: scale, visibility;
}

.modal {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 40px;
  width: 100%;
  opacity: 1;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #212121;
}

.modal-close-button:hover .close-icon,
.modal-close-button:focus .close-icon {
  fill: #2196f3;
  cursor: pointer;
}

.form-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #000;
  margin-bottom: 5px;
}

.modal-form {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.modal-label {
  display: block;
  margin: 0;
  color: #757575;
}

.modal-wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-area {
  margin-top: 4px;
  margin-bottom: 20px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  fill: #000;
}

.modal-input {
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  border-radius: 4px;
  outline: transparent;
  padding: 12px 42px 12px 42px;
  height: 40px;
  width: 100%;
}

#first-name,
#last-name,
#comment {
  padding-left: 12px;
}

#comment {
  padding: 12px 16px 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid #2196f3;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #188ce8;
  border-color: transparent;
  border-radius: 4px;
}

.modal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.modal-subcontainer {
  width: 100%;
}

.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.new-checkbox {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
  border: 2px solid #000000;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 0 auto 30px;
}

.checkbox-label p {
  margin: 0;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.checkbox-label a {
  color: #2196f3;
}

.check-icon {
  position: absolute;
  left: -2px;
  top: -2px;
  opacity: 0;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label .new-checkbox .check-icon {
  opacity: 1;
}

.checkbox:checked + .checkbox-label .new-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
}

.submit {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.submit:hover,
.submit:focus {
  background-color: #188ce8;
}

.check-text {
  display: flex;
  cursor: pointer;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .footer .container {
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: start;
  }
}

.footer-contacts__map {
  font-style: normal;
  line-height: 24px;
  line-height: 1.7142857143;
  line-height: 1.46;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}

.footer-contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contacts__list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact__link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  line-height: 24px;
  line-height: 1.46;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__link:hover,
.footer-contact__link:focus {
  color: #2196f3;
}

.networks-footer__title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .networks-footer__title {
    text-align: start;
  }
}

.networks-footer {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .networks-footer {
    margin-right: 0;
  }
}

.footer-networks__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.footer-networks__list .item:not(:last-child) {
  margin-right: 10px;
}

.footer-networks__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks__link:hover,
.footer-networks__link:focus {
  background-color: #2196f3;
  transform: translateY(3px);
}

.form-subscribe__form {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .form-subscribe__form {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .form-subscribe__form {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__form {
    flex-direction: row;
    gap: 12px;
  }
}

.form-contract {
  margin-left: 3px;
}

.submit--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
}

.submit:hover,
.submit:focus {
  background-color: #188ce8;
}

.subscribe {
  position: relative;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .subscribe {
    text-align: center;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    max-width: 450px;
  }
}

.form-subscribe__form {
  display: flex;
  justify-content: center;
}

.form-subscribe {
  box-sizing: border-box;
  height: 50px;
  padding: 15px 16px 15px 16px;
  color: #2196f3;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .form-subscribe {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form-subscribe {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe {
    width: 360px;
  }
}

.form-subscribe__footer {
  margin-right: 0;
}

.form-subscribe:hover,
.form-subscribe:focus {
  border: 1px solid #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 56px;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.project-button {
  padding: 6px 25px;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  line-height: 1.625;
  border-radius: 4px;
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-button:hover,
.project-button:focus {
  outline: none;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #2196F3;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.project__item {
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;
  background: #ffffff;
}
.project__item:hover, .project__item:focus, .project__item:active {
  background: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.project__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}
.project__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.project__item:hover .project__overlay {
  transform: translateY(0);
}

.project__box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project__overlay {
  margin: 0;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  opacity: 0.9;
  box-sizing: border-box;
}

.project__main {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.project__name {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  margin: 0;
}/*# sourceMappingURL=main.css.map */