    $rare-color: #2196f3;
    $main-text-color: #212121;
    $other-text-color: #757575;
    $background-main: #ffffff;
    $background-other: #f5f4fa;
    $background-dark: #2f303a;
    $icon-color: #AFB1B8;
    $black: #000;


    $mainFontSize: 14px;
    $secondFontSize: 16px;