
.section-about {
    padding-top: 0px;
    padding-bottom: 94px;
}

@media screen and (max-width:1199px) {
    .section-about{
    display: none;}
}

.section-about__list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
}

.about-container {
    position: relative;
}

.about-foto {
    display: block;
}


.about-title {
    font-weight: 700;
    font-size: $mainFontSize;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 22px 0;
    margin: 0;
    text-align: center;
    color: $background-main;
    background-color: rgba(47, 48, 58, 0.8);
    opacity: 0.8;
}