.header {
    border-bottom: 1px solid #ececec;
}

.header .container{
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width:768px) {
            display: flex;
        }
}